/*
Media Queries
****************************/

@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }

}

@media (max-width: 899px) {
    header {
        text-align: center;
    }

    .profile-img {
        width: 200px;
    }
}
